<div class="nav-settings">
    <div class="sideNavbar">
        <div class="userImg">
            <img src="./assets/yasmeen.jpg" alt="user">
        </div>
        <ul>
            <li routerLinkActive="active"><span><i class="bi bi-gear-fill"></i></span><a class="nav-link rounded" routerLink="/profile/settings">Settings</a></li>
            <li routerLinkActive="active"><span><i class="bi bi-cart-check-fill"></i></span><a class="nav-link rounded" routerLink="/profile/orders" >My Orders</a></li>
        </ul>
    </div> 
    <div class="cardOrders">
        <div class="card">
            <img src="./assets/products/wooden.jpg" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">wooden lamp</h5>
              <div class="btnDel"><input type="button" value="Delete"></div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/products/black1.jpg" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">wooden lamp</h5>
              <div class="btnDel"><input type="button" value="Delete"></div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/products/candle1.jpeg" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">wooden lamp</h5>
              <div class="btnDel"><input type="button" value="Delete"></div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/products/art1.jpg" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">wooden lamp</h5>
              <div class="btnDel"><input type="button" value="Delete"></div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/products/accessoires.jpg" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">wooden lamp</h5>
              <div class="btnDel"><input type="button" value="Delete"></div>
            </div>
          </div>
          <div class="card">
            <img src="./assets/products/crocet.jpg" class="card-img-top" alt="product">
            <div class="card-body">
              <h5 class="card-title">wooden lamp</h5>
              <div class="btnDel"><input type="button" value="Delete"></div>
            </div>
          </div>
    </div>
</div>
 
