<div class="about">
    <div class="container">
        <div class="row">
            <div class="aboutText col-lg-6">
                <h2>About HandMade</h2>
                <p>
                    What made us successful in the past years is the practicality and durability of our products as well as the good application of colour in  the form of creative designs. We produce personal as well as home accessories that are mostly crochet and  are all produced by girls and women who work for the company. What makes our products unique are the  designs and colours which are carefully chosen by the owner team and the fact that we are always  ready to make any custom order for our clients, so that they can personalize their home accessories to  perfectly fit their style
                </p>
            </div>
            <div class="aboutImgage col-lg-6">
                <img class="aboutImg" src="../assets/about3.jpg" alt="about img">
            </div>
          </div>

          <div class="row">
            <div class="aboutImgage col-lg-6">
                <img class="aboutImg" src="../assets/about.png" alt="about img">
            </div>
            <div class="aboutText col-lg-6">
                <p>
                    Handmade aim was to create a place that delivers to the needs of those who knit and crochet  by providing supplies and patterns and where interested people can come and learn the crafts. Parallel to that the company would offer crochet products that are practical and look nice in order to show that crochet can be incorporated in almost everything and can look modern and funky. What made us successful in the past years is the practicality and durability of our products as well as the good application of colour in the form of creative designs.                </p>
            </div>
          </div>

          <div class="features">
            <h2 class="special-heading">Services</h2>
            <p>We provide to you</p>
            </div>

          <div class="cards">
            <div class="row row-cards">
                <div class="col-md-4 card">
                    <div><i class="bi bi-house-door"></i></div>
                    <h3>Uniq designs</h3>
                    <p>Unique, hand-made designs for you that do not resemble the usual products manufactured in factories</p>
                </div>
                <div class="col-md-4 card">
                    <div><i class="bi bi-truck"></i></div>
                    <h3>Fast Delivery</h3>
                    <p>Fast delivery, save products and product arrival in a maximum of two days</p>
                </div>
                <div class="col-md-4 card">
                    <div><i class="bi bi-wallet2"></i></div>
                    <h3>Easy payment</h3>
                    <p>Providing more than one secure payment method for you, cash on delivery or payment by Visa</p>
                </div>
              </div>
          </div>
      </div>
</div>
