.box img {
  border: 2px solid white;
  margin-right: 20px;
  border-radius: 50%;
  width: 170px;
  height: 160px;
  box-shadow: 0 0 10px;
}
.inputFile {
  width: 100%;
}
.saveBtn {
  background-color: #2c3344;
}
.saveBtn:hover {
  background-color: #424b64;
}
.eyeBtn {
  position: absolute;
  right: 50px;
  top: 380px;
}
.overlay {
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100% !important; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
}
.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
