<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#"><img src="assets/icons8-e-commerce-64.png" width="60">LOGO</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
        <li class="nav-item m-3">
          <a class="nav-link rounded" routerLink="/" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link rounded" routerLink="/about" routerLinkActive="active">About</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link rounded" routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link btn btn-primary rounded border text-light" routerLink="/login"
            routerLinkActive="active">Login</a>
        </li>
        <li class="nav-item m-3">
          <a class="nav-link btn btn-primary rounded border text-light" routerLink="/register"
            routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
