

<section class="vh-50">
  <div class="text-center overlay" *ngIf="isLoading">
    <img src="../../../assets/Spinner-1s-200px (3).svg" alt="">
  </div>
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="text-black">
          <div class="card-body">
            <div class="row justify-content-center align-items-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <form class="mx-1 mx-md-4" #frm="ngForm" [formGroup]="form">
                  <div class="mx-1 mb-3 mb-lg-4 resetlabel">
                    <h2 class="txt">New Password</h2>
                  </div>
                  <div class="d-flex align-items-center mb-4">
                    <input type="password" id="form3Example3c" class="form-control" placeholder="Password" #password
                      [(ngModel)]="resetForm.password" formControlName="password" [type]="hide1? 'password':'text'" />
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hide1" class="eyeBtn">
                      <mat-icon>{{hide1? 'visibility_off': 'visibility'}}</mat-icon>
                    </button>
                  </div>
                  <div class="d-flex align-items-center mb-3">
                    <input type="password" id="form3Example3c" class="form-control" placeholder="Confirm Password"
                      #newpassword [(ngModel)]="resetForm.newpassword" formControlName="newpassword"
                      [type]="hide2? 'password':'text'" />
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide Password'"
                      [attr.aria-pressed]="hide2" class="eyeBtn">
                      <mat-icon>{{hide2? 'visibility_off': 'visibility'}}</mat-icon>
                    </button>
                  </div>
                  <div *ngIf="newpassword.value!= password.value" class="alert text-danger">
                    Both password Not Matched
                  </div>
                  <div class="mx-1 mb-3 mb-lg-4">
                    <button type="submit" class="btn btn-lg" (click)="onSubmit()"
                      [disabled]="frm.invalid && newpassword.value!= password.value">Confirm</button>
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-5 d-flex align-items-center order-1 order-lg-2">
                <img src="../../../assets/cd51b7b03e8a309245c2e1b1378e7313.jpg" class="img-fluid" alt="Forget Password">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

