<div class="con">
  <h1>Edit Product</h1>
  <hr>
  <form [formGroup]="form">
    <div class="row g-3">
      <div class="col-md-3 col-sm-12">
        <label for="inputCity">Title</label>
        <input type="text" class="form-control w-100" id="inputCity" formControlName="title">
      </div>
      <div class="col-md-3 col-sm-12">
        <label for="inputCity">Price</label>
        <input type="number" class="form-control w-100" id="inputCity" formControlName="price">
      </div>
      <div class="col-md-3 col-sm-12">
        <label for="inputCity">quantity</label>
        <input type="number" class="form-control w-100" id="inputCity" formControlName="quantity">
      </div>
      <div class="col-md-3 col-sm-12">
        <label for="">Categories</label>
        <select name="" id="" class="form-select" aria-label="Default select example"
          (change)="getSelectedCateory($event)">
          <option selected>{{categoryName}}</option>
          <option *ngFor="let cat of categories" [value]="cat._id">{{cat.name}}</option>
        </select>
      </div>

      <div class="col-md-4 col-sm-12">
        <label for="">Image</label>
        <input type="file" class="form-control" (change)="uploadImgFile($event)">
        <img [src]="url" alt="">
      </div>
      <div class="col-md-8 col-sm-12">
        <label for="">Description</label>
        <textarea class="form-control" placeholder="Type Here ...." formControlName="description"></textarea>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button class="btn btn-success" (click)="Save()">Save</button>
    </div>
    <div class="text-center overlay" *ngIf="isLoading">
      <img src="assets/Spinner-1s-200px.svg" alt="">
    </div>
  </form>
</div>