mat-sidenav {
  background-color: #0f172a;
  width: 230px;
  height: 100%;
}
mat-sidenav-content {
  height: 100vh;
}
mat-sidenav-content .main {
  /* margin-left: 30px; */
}
mat-toolbar mat-icon {
  cursor: pointer;
}
mat-toolbar {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.box button {
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}
.box img {
  border-radius: 50%;
}
