.btn-primary {
  background-color: #c057f7 !important;
}
mat-card {
  box-shadow: 1px 4px 18px 3px grey;
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  max-height: 600px;
}
.header {
  text-align: center;
}
.full-width {
  width: 80%;
}
.forgot-password {
  padding-left: 0px;
}
.email-input {
  padding-top: 10px;
}
.aLink {
  float: right;
  padding-right: 60px;
  text-decoration: none;
}
.errorMsg {
  color: red;
  font-size: 12px;
  position: relative;
  left: -140px;
}
.overlay {
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
}
.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
