/* table {
  min-width: 98%;
  margin: 0 0 auto;
} */
/* table,
td,
th {
  text-align: center;
} */
.tableContainer {
  margin-left: 30px;
  /* margin-top: 30px; */
  margin-right: 32px;
}
.btn-primary {
  background-color: green !important;
}
