<div class="d-flex justify-content-between">
  <button mat-raised-button color="primary" (click)="addModal()" class="mt-4 ms-5 p-4">+ Add New Coupon</button>
  <mat-form-field class="me-5 mt-3" color="primary">
    <mat-label>Search Table</mat-label>
    <input matInput placeholder="Search ..." #input type="text" (keyup)="FilterChange($event)">
  </mat-form-field>
</div>
<div class="mat-elevation-z8 tableContainer">
  <table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell mat-sort-header *matHeaderCellDef> Coupon Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="createdate">
      <th mat-header-cell *matHeaderCellDef> Creation Date & Time </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt.substring(0,10)}} |
        {{element.createdAt.substring(11,19)}} </td>
    </ng-container>
    <ng-container matColumnDef="discount" class="m-3">
      <th mat-header-cell *matHeaderCellDef> Discount </th>
      <td mat-cell *matCellDef=" let element"> {{element.discount}}% </td>
    </ng-container>
    <ng-container matColumnDef="expiredate" class="m-3">
      <th mat-header-cell *matHeaderCellDef> Expire Date & Time </th>
      <td mat-cell *matCellDef=" let element"> {{element.expire.substring(0,10)}} | {{element.expire.substring(11,19)}}
      </td>
    </ng-container>
    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef> Change Coupon </th>
      <td mat-cell *matCellDef="let element;">
        <button mat-raised-button color="primary"
          (click)="editModal(element.name,element.expire,element.discount,element._id)">Edit</button>
        <button mat-raised-button color="warn" (click)="deleteCoupon(element._id)" class="ms-3">Delete</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr *matNoDataRow>
      <td class="mat-cell " colspan="4">
        <span class="m-4">The filter doesn't match any product in the Table for this text {{input.value}}</span>
      </td>
    </tr>
  </table>
  <mat-paginator [pageSizeOptions]="[4,10,20]" showFirstLastButtons
    class="d-flex align-items-center justify-content-center"></mat-paginator>
</div>
<div class="text-center mt-4" *ngIf="isLoading && !isDeleted && !isAdded && !isEdited">
  <img src="assets/Spinner-1s-200px.svg" alt="Loading ...">
</div>