/* You can add global styles to this file, and also import other style files */
.overlay {
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  max-height: 100% !important; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
}
.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
