i{
  position: absolute;
  right: 11px;
  top: 35px;
  font-size: 20px;
  cursor: pointer;
  color: #9d28dc;
}
.icon{
  position: absolute;
  left: 10px;
}

.gr{
  display: inline-block !important;
}
label{
  color: #9d28dc;
}
input:focus{
  border-color: #9d28dc;
  box-shadow: none;
}
button{
  background-color: #c057f7;
  outline: none;
  border: none;
  color: white;
}
button:hover{
  background-color: #c166f1;
  color: white;
}
.log{
  color: #b744f6;
}
button:disabled{
  background-color: #c057f7;
  outline: none;
  border: none;
  color: white;
}
.overlay{
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}
.overlay img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.resetlabel{
  font-size: 22px;
  font-weight: bold;
}
.txt{
  color: #b744f6;
}
/* .mail{
  background-color: gainsboro;
  width: 0px;
  height: 0px;
}
.mail i{
  top: 0;
    background-color: gainsboro;
    padding: 3px 5px;
    margin: 0;
} */

.overlay{
  position: fixed;
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}
.overlay img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
